//
// Silent class voor buttons
//
.button {
    @include inline;
    position: relative;
    width: auto;
    padding: 9px 16px;
    margin: 0;
    border: {
        width: 1px;
        style: solid;
        color: color(primary);
        radius: size(global,radius);
    }
    line-height: 1;
    font: {
        family: $base-font;
        weight: bold;
        size: size(body);
    }
    text: {
        align: center;
        decoration: none;
    }
    color: #FFF !important;
    background-color: color(primary);
    cursor: pointer;
    @include transition( all 0.2s ease-in-out );

    .no-touch &:hover,
    &:focus {
        color: #FFF;
        background-color: lighten(color(primary),10%);
    }

    &:active,
    &.active {
        outline: 0;
    }


    //
    // Secondary
    //
    &--secondary {
        color: color(primary) !important;
        background-color: #FFF;

        .no-touch &:hover {
            background-color: #EEE;
        }
    }


    //
    // Large
    //
    &--large {
        padding: 26px 42px;
        font-size: size(h3);
    }
}