/*------------------------------------*\
    FORM
\*------------------------------------*/
/**
 * Form elementen
 *
 * _settings.scss
 * $placeholder-color: #999
 * $validation-error-color: #C00
 *
    <form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        head.js(
            { cdnform: '//cdn.am-impact.nl/load.js?js=jsfw/form/validation.js&amp;js=jsfw/form/defaultvalue.js' },
            { form: 'scripts/fw.form.js' }
        );
    </script>
 *
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
select,
textarea{
    width: 100%;
    border: 1px solid $base-ui-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    resize: none;

    /* Voorkom dat d.m.v. selecteren de inhoud over de verticale as kan schuiven */
    min-height: 28px;
    line-height: 20px;
    padding: 0 5px;

    .no-touch &:hover {
        border-color: darken($base-ui-color, 10%);
    }

    &:focus {
        border-color: darken($base-ui-color, 20%);
        outline: none;
    }
}

select { padding: 5px; line-height: 10px; }
textarea {
    overflow: auto;
    resize: vertical;
}


// Placeholder
.defaultvalue { text-overflow: ellipsis; color: $placeholder-color; }
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; color: $placeholder-color; }
::-webkit-input-placeholder { text-overflow: ellipsis; color: $placeholder-color; }
input:-moz-placeholder { text-overflow: ellipsis; color: $placeholder-color; }


input[type=radio],
input[type=checkbox] {
    padding: 0;
    border: none;
}

// // Firefox fix
// input::-moz-focus-inner {
//     border: 0;
//     padding: 0;
//     margin-top: -2px;
//     margin-bottom: -2px;
// }

input[type=text].validation_error,
input[type=email].validation_error,
input[type=number].validation_error,
input[type=password].validation_error,
select.validation_error,
textarea.validation_error {
    border-color: $validation-error-color;
}

label.validation_field_message {
    display: block;
    padding: 0 0 0 5px;
    color: $validation-error-color;
}

.required {
    &:after {
        content: '\002A';
        padding: 0 0 0 5px;
        font-weight: bold;
    }
}
