fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    @extend .visuallyhidden;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
select,
textarea{
    width: 100%;
    border: 1px solid $base-ui-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    resize: none;

    /* Voorkom dat d.m.v. selecteren de inhoud over de verticale as kan schuiven */
    min-height: 28px;
    line-height: 20px;
    padding: 0 5px;

    .no-touch &:hover {
        border-color: darken($base-ui-color, 10%);
    }

    &:focus {
        border-color: darken($base-ui-color, 20%);
        outline: none;
    }
}

select { padding: 5px; line-height: 10px; }
textarea {
    overflow: auto;
    resize: vertical;
}


// Placeholder
input[placeholder] { text-overflow: ellipsis; }
.defaultvalue { text-overflow: ellipsis; color: $placeholder-color; }
::-moz-placeholder { text-overflow: ellipsis; color: $placeholder-color; }
::-webkit-input-placeholder { text-overflow: ellipsis; color: $placeholder-color; }
input:-moz-placeholder { text-overflow: ellipsis; color: $placeholder-color; }
input:-ms-input-placeholder { text-overflow: ellipsis; color: $placeholder-color; }


input[type=radio],
input[type=checkbox] {
    padding: 0;
    border: none;
}

// // Firefox fix
// input::-moz-focus-inner {
//     border: 0;
//     padding: 0;
//     margin-top: -2px;
//     margin-bottom: -2px;
// }

input[type=text].validation_error,
input[type=email].validation_error,
input[type=number].validation_error,
input[type=password].validation_error,
select.validation_error,
textarea.validation_error {
    border-color: $validation-error-color;
}

label.validation_field_message {
    display: block;
    padding: 0 0 0 5px;
    color: $validation-error-color;
}

.required {
    &:after {
        content: '\002A';
        padding: 0 0 0 5px;
        font-weight: bold;
    }
}


//
// Form
//
form {
    @extend .clearfix;
}

.form__row {
    @include grid-row( $behavior: collapse );
    margin: 5px 0;

    .label {
        @include grid-column(
            $columns: 4
        );
    }

    .field {
        @include grid-column(
            $columns: 8
        );
    }
}

.form__note {
    @include grid-column(
        $columns: 8,
        $offset: 4
    );
}
