/*------------------------------------*\
    FORM
\*------------------------------------*/
/**
 * Form elementen
 *
 * _settings.scss
 * $placeholder-color: #999
 * $validation-error-color: #C00
 *
    <form action="#" method="post">
        <fieldset>
            <legend>Algemene gegevens</legend>
            <ul>
                <li class="form__row">
                    <div class="label"><label for="frm_naam" class="required">Naam</label></div>
                    <div class="field"><input type="text" name="naam" id="frm_naam" data-required="true"></div>
                </li>
                <li class="form__row">
                    <div class="label"><label for="frm_email" class="required">E-mailadres</label></div>
                    <div class="field"><input type="email" name="email" id="frm_email" data-required="true" data-validation="email"></div>
                </li>
                <li class="form__row">
                    <div class="label"><label for="frm_reactie" class="required">Reactie</label></div>
                    <div class="field"><textarea name="reactie" id="frm_reactie" cols="20" rows="5" data-required="true"></textarea></div>
                </li>
            </ul>
        </fieldset>
        <p class="form__note">Velden met een * zijn verplicht</p>
        <div class="button__row">
            <input type="submit" name="verzenden" value="Verzenden">
        </div>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        head.js(
            { cdnform: '//cdn.am-impact.nl/load.js?js=jsfw/form/validation.js&amp;js=jsfw/form/defaultvalue.js' },
            { form: 'scripts/fw.form.js' }
        );
    </script>
 *
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    @extend .visuallyhidden;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
select,
textarea{
    width: 100%;
    border: 1px solid $base-ui-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    resize: none;

    /* Voorkom dat d.m.v. selecteren de inhoud over de verticale as kan schuiven */
    min-height: 28px;
    line-height: 20px;
    padding: 0 5px;

    .no-touch &:hover {
        border-color: darken($base-ui-color, 10%);
    }

    &:focus {
        border-color: darken($base-ui-color, 20%);
        outline: none;
    }
}

select { padding: 5px; line-height: 10px; }
textarea {
    overflow: auto;
    resize: vertical;
}


// Placeholder
.defaultvalue { text-overflow: ellipsis; color: $placeholder-color; }
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; color: $placeholder-color; }
::-webkit-input-placeholder { text-overflow: ellipsis; color: $placeholder-color; }
input:-moz-placeholder { text-overflow: ellipsis; color: $placeholder-color; }


input[type=radio],
input[type=checkbox] {
    padding: 0;
    border: none;
}

// // Firefox fix
// input::-moz-focus-inner {
//     border: 0;
//     padding: 0;
//     margin-top: -2px;
//     margin-bottom: -2px;
// }

input[type=text].validation_error,
input[type=email].validation_error,
input[type=number].validation_error,
input[type=password].validation_error,
select.validation_error,
textarea.validation_error {
    border-color: $validation-error-color;
}

label.validation_field_message {
    display: block;
    padding: 0 0 0 5px;
    color: $validation-error-color;
}

.required {
    &:after {
        content: '\002A';
        padding: 0 0 0 5px;
        font-weight: bold;
    }
}


//
// Form
//
form {
    @extend .clearfix;
}

.form__row {
    @include grid-row( $behavior: collapse );
    margin: 5px 0;

    .label {
        @include grid-column(
            $columns: 4
        );
    }

    .field {
        @include grid-column(
            $columns: 8
        );
    }
}

.form__note {
    @include grid-column(
        $columns: 8,
        $offset: 4
    );
}
