$form__background--input: #FFF !default;
$form__color--placeholder: #999 !default;
$form__color--error: #c60f13 !default;

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    // Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets,
    // so we reset that to ensure it behaves more like a standard block element.
    // See https://github.com/twbs/bootstrap/issues/12359.
    min-width: 0;
}

legend {
    @extend .visuallyhidden;
}


//
// Input elementent
//
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid color(ui);
    font-family: $base-font;
    font-size: size(body);
    resize: none;
    background: $form__background--input;

    .no-touch &:hover {
        border-color: darken(color(ui), 10%);
    }

    &:focus {
        border-color: darken(color(ui), 20%);
        outline: none;
    }
}

input[type=number] {
    max-width: 100px;
}

select {
    padding: 5px;
    line-height: 10px;
}

textarea {
    overflow: auto;
    resize: vertical;
}

input[type=radio],
input[type=checkbox] {
    padding: 0;
    border: none;
}


//
// Placeholder
//
input[placeholder] { text-overflow: ellipsis; }
.defaultvalue { text-overflow: ellipsis; color: $form__color--placeholder; }
::-moz-placeholder { text-overflow: ellipsis; color: $form__color--placeholder; }
::-webkit-input-placeholder { text-overflow: ellipsis; color: $form__color--placeholder; }
input:-moz-placeholder { text-overflow: ellipsis; color: $form__color--placeholder; }
input:-ms-input-placeholder { text-overflow: ellipsis; color: $form__color--placeholder; }


//
// Validatie
//
.required {
    &:after {
        content: '\002A';
        padding: 0 0 0 5px;
        font-weight: bold;
    }
}

.validation_error {
    border-color: $form__color--error !important;
}

.validation_field_message {
    display: block;
    padding: 0 0 0 5px;
    color: $form__color--error;
}


//
// Form
//
form {
    @extend .clearfix;

    li {
        padding: 8px 0;
    }
}

.form__row {
    @media #{$small-up} {
        @include grid-row( $behavior: collapse );

        .label {
            text-align: right;

            @include grid-column(
                $columns: 4
            );
        }

        .field {
            @include grid-column(
                $columns: 8
            );
        }
    }
}

.form__note {
    @media #{$small-up} {
        @include grid-column(
            $columns: 8,
            $offset: 4
        );
    }
}
